@font-face
	font-family: "Cyberpunk"
	src: url("./fonts/Cyberpunk.otf")

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap")

$primary-color: #FFD700	
$secondary-color: #00F0FF	
$ternary-color: #FFFFFF

$button-background-color: #FFFFFF

$layout-breakpoint-small: 576px
$layout-breakpoint-medium: 900px
	
@import libs/reset.sass

.logo
		color: $primary-color
		text-align: center
		position: relative 
		font-size: 3em
		font-family: "Cyberpunk"
		margin: .25em 0 .5em
.logo::before,
.logo::after 
	content: "nismo dev"
.logo::before 
	right: -13px
	background: black
	animation: glitch 1.3s infinite linear alternate-reverse
.logo::after 
	right: -8px 
	background: black
	animation: glitch 2.2s infinite linear alternate

@keyframes glitch 
	0% 
		clip-path: inset(40% 0 61% 0)
	20% 
		clip-path: inset(92% 0 1% 0)
	40% 
		clip-path: inset(43% 0 1% 0)
	60% 
		clip-path: inset(25% 0 58% 0)
	80% 
		clip-path: inset(94% 0 7% 0)
	100% 
		clip-path: inset(78% 0 43% 0)

.header
	display: grid
	justify-content: center
	.header__nav
		margin-bottom: 1.5em
		.header__nav__link
			font-family: "Orbitron"
			font-size: 1em
			padding: .5em .75em
			text-decoration: none
			color: $ternary-color
			border-right: 1px solid $secondary-color
		.header__nav__link:hover
			text-decoration: underline
			color: $secondary-color
		.header__nav__link:nth-last-child(1)
			border-right: none
	.header__description
		font-size: 1.5em
		font-family: "Orbitron"
		text-align: center
		line-height: 1.5em
		color: $ternary-color
		&--blue
			@extend .header__description
			color: $secondary-color
		&:last-child
			padding-bottom: .75em

.skills
	font-family: "Orbitron"
	.skills__title
		font-size: 2.5em
		font-family: "Cyberpunk"
		color: $primary-color 
		text-align: center
		padding: 0 0 .75em
	.skills__container
		border: 2px solid $secondary-color
		width: 70%
		margin: 0 auto
		display: grid
		text-align: center
		padding: 1em
		margin-bottom: 1em 
		.skills__category
			color: $secondary-color
			font-family: "Cyberpunk"
			font-size: 1.5em 
			padding-bottom: .5em
		.skills__item
			font-size:  1.1em
			color: $ternary-color

.projects
	font-family: "Orbitron"
	.projects__title
		font-size: 2.5em
		font-family: "Cyberpunk"
		text-align: center
		color: $primary-color
		padding: .5em 0 .5em
	.projects__item
		display: grid
		justify-items: center
		.projects__preview
			width: 70%
			border-radius: .5em 
			padding: 0 0 1em
		.projects__name
			font-size: 2em
			color: $secondary-color
			padding: 0 0 .5em
		.projects__techno
			font-size: 1.2em
			color: $secondary-color
		.projects__description
			font-size: 1.1em
			text-align: center
			width: 60%
			color: $ternary-color
			padding: .5em 0 1em
		.projects__button__grid
			display: grid
			grid-template-columns: 1fr 1fr
			gap: 2em
			padding: 0 0 1.5em
			.projects__code__link:link,
			.projects__code__link:visited,
			.projects__live__link:link, 
			.projects__live__link:visited
				font-family: "Cyberpunk"
				background-color: $button-background-color
				color: black
				padding: .75em 1.25em .75em
				text-decoration: none
			.projects__code__link:hover, 
			.projects__live__link:hover
				color: $secondary-color
			.projects__invisible
				display: none

.contact
	font-family: "Orbitron"
	display: grid
	justify-items: center
	.contact__title
		font-size: 2.5em
		font-family: "Cyberpunk"
		color: $primary-color 
		padding: 0 0 .5em
	.contact__email__text, 
	.contact__socials__text
		font-size: 1.2em 
		color: $ternary-color
	.contact__email
		font-size: 1.1em
		color: $secondary-color
		padding: .25em 0 1em
	.contact__icon__grid	
		display: grid
		grid-template-columns: 1fr 1fr
		gap: 1.5em
		.contact__icon
			padding: 1em 0  2em

@media (min-width: $layout-breakpoint-small)
	.logo
			font-size: 5em
	.header
		.header__nav
			margin-bottom: 3em
			.header__nav__link
				font-size: 1.75em
		.header__description
			font-size: 2.5em
	.skills
		.skills__title
			font-size: 5em
		.skills__container
			.skills__category
				font-size: 3em
			.skills__item
				font-size: 1.5em
	.projects
		.projects__title
			font-size: 5em
		.projects__item
			.projects__name
				font-size: 3em 
			.projects__techno
				font-size: 1.75em 
			.projects__description
				font-size: 1.25em
			.projects__button__grid
				.projects__code__link:link,
				.projects__code__link:visited,
				.projects__live__link:link, 
				.projects__live__link:visited
					font-size: 1.25em
	.contact
		.contact__title
			font-size: 5em
		.contact__email__text, 
		.contact__socials__text
			font-size: 1.5em
		.contact__email
			font-size: 1.75em 

@media (min-width: $layout-breakpoint-medium)
	.header
		.logo
			font-size: 9em
		.header__description
			font-size: 3em
	.skills
		.skills__title
			font-size: 6em 
		.skills__container
			.skills__category
				font-size: 3.5em
			.skills__item
				font-size: 1.75em
	.projects
		.projects__title
			font-size: 6em
		.projects__item
			.projects__name
				font-size: 4em 
			.projects__techno
				font-size: 2em 
			.projects__description
				font-size: 1.5em
			.projects__button__grid
				.projects__code__link:link,
				.projects__code__link:visited,
				.projects__live__link:link, 
				.projects__live__link:visited
					font-size: 1.5em
	.contact
		.contact__title
			font-size: 6em
		.contact__email__text, 
		.contact__socials__text
			font-size: 2em
		.contact__email
			font-size: 2.5em