@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@font-face {
  font-family: "Cyberpunk";
  src: url("./fonts/Cyberpunk.otf");
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.header .header__logo {
  color: #FFD700;
  position: relative;
  font-size: 3em;
  font-family: "Cyberpunk";
  text-align: center;
  margin: 0.25em 0 0.5em;
}
.header .header__logo::before,
.header .header__logo::after {
  content: "nismo dev";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.header .header__logo::before {
  left: -6px;
  background: black;
  animation: glitch 1.3s infinite linear alternate-reverse;
}
.header .header__logo::after {
  left: -12px;
  background: black;
  animation: glitch 2.2s infinite linear alternate;
}
@keyframes glitch {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(94% 0 7% 0);
  }
  100% {
    clip-path: inset(78% 0 43% 0);
  }
}
.header .header__description, .header .header__description--blue {
  font-size: 1.5em;
  font-family: "Orbitron";
  text-align: center;
  line-height: 1.5em;
  color: #FFFFFF;
}
.header .header__description--blue {
  color: #00F0FF;
}
.header .header__description:last-child, .header .header__description--blue:last-child {
  padding-bottom: 0.75em;
}

.skills {
  font-family: "Orbitron";
}
.skills .skills-title {
  font-size: 2.5em;
  font-family: "Cyberpunk";
  color: #FFD700;
  text-align: center;
  padding: 0 0 0.75em;
}
.skills .skills-container {
  border: 2px solid #00F0FF;
  width: 70vw;
  margin: 0 auto;
  display: grid;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}
.skills .skills-container .skills-category {
  color: #00F0FF;
  font-family: "Cyberpunk";
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.skills .skills-container .skills-item {
  font-size: 1.1em;
  color: #FFFFFF;
}

.project {
  font-family: "Orbitron";
}
.project .project__title {
  font-size: 2.5em;
  font-family: "Cyberpunk";
  text-align: center;
  color: #FFD700;
  padding: 0.5em 0 0.5em;
}
.project .project__item {
  display: grid;
  justify-items: center;
}
.project .project__item .project__preview {
  width: 70%;
  border-radius: 0.5em;
  padding: 0 0 1em;
}
.project .project__item .project__name {
  font-size: 2em;
  color: #00F0FF;
  padding: 0 0 0.5em;
}
.project .project__item .project__techno {
  font-size: 1.2em;
  color: #00F0FF;
}
.project .project__item .project__description {
  font-size: 1.1em;
  text-align: center;
  width: 60%;
  color: #FFFFFF;
  padding: 0.5em 0 1em;
}
.project .project__item .project__button__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 0 0 1.5em;
}
.project .project__item .project__button__grid .project__code__link:link,
.project .project__item .project__button__grid .project__code__link:visited,
.project .project__item .project__button__grid .project__live__link:link,
.project .project__item .project__button__grid .project__live__link:visited {
  font-family: "Cyberpunk";
  background-color: #FFFFFF;
  color: black;
  padding: 0.75em 1.25em 0.75em;
  text-decoration: none;
}
.project .project__item .project__button__grid .project__code__link:hover,
.project .project__item .project__button__grid .project__live__link:hover {
  color: #00F0FF;
}
.project .project__item .project__button__grid .project__invisible {
  display: none;
}

.contact {
  font-family: "Orbitron";
  display: grid;
  justify-items: center;
}
.contact .contact__title {
  font-size: 2.5em;
  font-family: "Cyberpunk";
  color: #FFD700;
  padding: 0 0 0.5em;
}
.contact .contact__email__text,
.contact .contact__socials__text {
  font-size: 1.2em;
  color: #FFFFFF;
}
.contact .contact__email {
  font-size: 1.1em;
  color: #00F0FF;
  padding: 0.25em 0 1em;
}
.contact .contact__icon__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}
.contact .contact__icon__grid .contact__icon {
  padding: 1em 0 2em;
}

/*# sourceMappingURL=style.css.map */
